<!DOCTYPE html>
<html>
<head>
	<title>Dynamic</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="Dynamic" ng-controller="GameController">
<div>
	<div>
		Guesses Left :: {{ guesses }}
	</div>
	<div>
		Incorrect Guesses :: <span ng-repeat="letter in incorrectLettersChosen">{{letter}}
		</span>
	</div>
	<div>
		Correct Guesses :: <span ng-repeat="letter in correctLettersChosen">{{letter}}
		</span>
	</div>
	<div>You have to guess: {{ displayWord }}</div>
	<div>
		<div>
			<input type="text" name="guess" ng-model="input.letter">
			<button ng-click="letterChosen()">Submit</button>
		</div>
	</div>
</div>
</body>
</html>